---
layout: default
permalink: /update/
---

<main id="main">
  <section id="news" style="padding-top: 5em">
    <div class="container">
      <div class="row">
        <h1>
          {% assign messages = site.data.i18n.update1 %}
          {% include translate.html %}
        </h1>
        <p>
          {% assign messages = site.data.i18n.update2 %}
          {% include translate.html %}
        </p>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            {% assign messages = site.data.i18n.update3 %}
            {% include translate.html %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form class="profile">
            <h3>
              {% assign messages = site.data.i18n.update4 %}{% include translate.html %}
            </h3>
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update5 %}{% include translate.html %}
              </label>
              <input type="text" name="company_english" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your organization name">
            </div>
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update6 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update7 %}{% include translate.html %}
              </small>
              <input type="text" name="company_your_language" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your organization name">
            </div>


            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update8 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update9 %}{% include translate.html %}
              </small>
              <input type="text" name="speaker_title_english" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update10 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update11 %}{% include translate.html %}
              </small>
              <input type="text" name="speaker_title_your_language" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your name">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update12 %}{% include translate.html %}
              </label>
              <input type="text" name="name_english" required class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update13 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update14 %}{% include translate.html %}
              </small>
              <input type="text" name="name_your_language" required class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="Enter your name">
            </div>


            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update15 %}{% include translate.html %}
              </label>
              <textarea name="profile_english" rows="10" required class="form-control save" id="inputText" aria-describedby="nameHelp"></textarea>
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update16 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update17 %}{% include translate.html %}
              </small>
              <textarea name="profile_your_language" rows="10" required class="form-control save" id="inputText" aria-describedby="nameHelp"></textarea>
            </div>
            	
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update18 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update19 %}{% include translate.html %}
              </small>
              <input type="text" name="web" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://devrel.dev/asia-2020/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update20 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="twitter" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://twitter.com/home">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update22 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="facebook" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://www.facebook.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update23 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="github" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://github.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update24 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="google" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://google.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update25 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="linkedin" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://www.linkedin.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update26 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="youtube" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://www.youtube.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update27 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="instagram" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://www.instagram.com/">
            </div>
            
            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update28 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="stackoverflow" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://stackoverflow.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update29 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="devto" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://dev.to/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update30 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="twitch" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://www.twitch.tv/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update31 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="weibo" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://weibo.com/">
            </div>

            <div class="form-group">
              <label for="InputName">
                {% assign messages = site.data.i18n.update32 %}{% include translate.html %}
              </label>
              <small id="nameHelp" class="form-text text-muted">
                {% assign messages = site.data.i18n.update21 %}{% include translate.html %}
              </small>
              <input type="text" name="other" class="form-control save" id="inputText" aria-describedby="nameHelp" placeholder="https://">
            </div>




            <div class="form-group">
              <div class="alert alert-success profile success hide" role="alert">
                {% assign messages = site.data.i18n.update33 %}{% include translate.html %}
              </div>
              <div class="alert alert-warning profile failure hide" role="alert">
                {% assign messages = site.data.i18n.update34 %}{% include translate.html %}
              </div>
            </div>
            <button class="btn btn-primary" type="submit">
              {% assign messages = site.data.i18n.update35 %}{% include translate.html %}
            </button>
            <input type="hidden" name="objectId" />
          </form>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </section>
</main>
