<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>About The Conference</h2>
        <p class="lang lang-en">
          DevRel/Asia 2020 is online/virtual conference that is target on Asia pacific. We share great experiences about developer relations, developer experiences, developer marketing and developer communities. 
        </p>
      </div>
      <div class="col-lg-3">
        <h3>Where</h3>
        <p>Internet / Virtual / Online</p>
      </div>
      <div class="col-lg-3">
        <h3>When</h3>
        <p>10:00 - 18:00 (JST/KST/IST/SGT)<br>Saturday 14 November</p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
