<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          {% assign messages = site.data.i18n.about1 %}
          {% include translate.html %}
        </h2>
        <p>
          {% assign messages = site.data.i18n.about2 %}
          {% include translate.html %}
        </p>
      </div>
      <div class="col-lg-3">
        <h3>
          {% assign messages = site.data.i18n.about3 %}
          {% include translate.html %}
        </h3>
        <p>
          {% assign messages = site.data.i18n.about4 %}
          {% include translate.html %}
        </p>
      </div>
      <div class="col-lg-3">
        <h3>
          {% assign messages = site.data.i18n.about5 %}
          {% include translate.html %}
        </h3>
        <p>
          {% assign messages = site.data.i18n.about6 %}
          {% include translate.html %}
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
