  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>
          {% assign messages = site.data.i18n.contact1 %}
          {% include translate.html %}
        </h2>
        <p>
          {% assign messages = site.data.i18n.contact2 %}
          {% include translate.html %}
        </p>
      </div>

      <div class="row contact-info">
        <div class="col-md-12">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>
              {% assign messages = site.data.i18n.contact3 %}
              {% include translate.html %}
            </h3>
            <p><a href="mailto:asia-2020@devrel.dev">asia-2020@devrel.dev</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <form method="POST" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">
              {% assign messages = site.data.i18n.contact4 %}
              {% include translate.html %}
            </div>
            <div class="error-message">
              {% assign messages = site.data.i18n.contact5 %}
              {% include translate.html %}
            </div>
            <div class="sent-message">
              {% assign messages = site.data.i18n.contact6 %}
              {% include translate.html %}
            </div>
          </div>
          <div class="text-center"><button type="submit">
            {% assign messages = site.data.i18n.contact7 %}
            {% include translate.html %}
          </button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->
