<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <!-- <img src="assets/img/logo.png" alt="TheEvenet">-->
          DevRel/Asia 2020
          <p>DevRel/Asia 2020 is online/virtual conference that is target on Asia pacific. We share great experiences about developer relations, developer experiences, developer marketing and developer communities. </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a href="/">Home</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#about">About us</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="/asia-2020/code-of-conduct.html">Code of Conduct</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="/asia-2020/privacy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
          <p>
            <strong>Email:</strong> asia-2020@devrel.dev<br>
          </p>

          <div class="social-links">
            <a href="https://twitter.com/devrelasia" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/DevRelAsia-2020-112538220512123/" class="facebook"><i class="fa fa-facebook"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>DevRel Meetup in Tokyo</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
    -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End  Footer -->
