<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <!-- <img src="assets/img/logo.png" alt="TheEvenet">-->
          {% assign messages = site.data.i18n.footer1 %}
          {% include translate.html %}
          <p>
            {% assign messages = site.data.i18n.about2 %}
            {% include translate.html %}
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>
            {% assign messages = site.data.i18n.footer2 %}
            {% include translate.html %}
          </h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a href="/">
              {% assign messages = site.data.i18n.footer3 %}
              {% include translate.html %}
            </a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#about">
              {% assign messages = site.data.i18n.footer4 %}
              {% include translate.html %}
            </a></li>
            <li><i class="fa fa-angle-right"></i> <a href="/asia-2020/code-of-conduct">
              {% assign messages = site.data.i18n.footer5 %}
              {% include translate.html %}
            </a></li>
            <li><i class="fa fa-angle-right"></i> <a href="/asia-2020/privacy-policy">
              {% assign messages = site.data.i18n.footer6 %}
              {% include translate.html %}
            </a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
            <h4>
              {% assign messages = site.data.i18n.footer7 %}
              {% include translate.html %}
            </h4>
          <p>
            <strong>
              {% assign messages = site.data.i18n.footer8 %}
              {% include translate.html %}
              
            </strong> asia-2020@devrel.dev<br>
          </p>

          <div class="social-links">
            <a href="https://twitter.com/devrelasia" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/DevRelAsia-2020-112538220512123/" class="facebook"><i class="fa fa-facebook"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>DevRel/Asia & DevRel Meetup in Tokyo</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
    -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End  Footer -->
