<!-- ======= Header ======= -->
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
      <a href="/asia-2020/" class="scrollto">DevRel/Asia 2020<!-- <img src="assets/img/logo.png" alt="" title=""> --></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/asia-2020/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#supporters">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="buy-tickets"><a href="https://www.papercall.io/devrel-asia-2020">Send CFP!</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->
