<!-- ======= Header ======= -->
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
      <a href="/asia-2020/" class="scrollto">
        <img src="{{ site.baseurl }}/assets/images/logo/logo.png" alt="" title="DevRel/Asia 2020 logo">
      </a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/asia-2020/">
          {% assign messages = site.data.i18n.header1 %}{% include translate.html %}
        </a></li>
        <li><a href="#about">
          {% assign messages = site.data.i18n.header2 %}{% include translate.html %}
        </a></li>
        <li><a href="#speakers">
          {% assign messages = site.data.i18n.header3 %}{% include translate.html %}
        </a></li>
        <li><a href="#schedule">
          {% assign messages = site.data.i18n.header4 %}{% include translate.html %}
        </a></li>
        <li><a href="#supporters">
          {% assign messages = site.data.i18n.header5 %}{% include translate.html %}
        </a></li>
        <li><a href="#contact">
          {% assign messages = site.data.i18n.header6 %}{% include translate.html %}
        </a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle current-lang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            🌏
          </a>
          <div class="dropdown-menu language" aria-labelledby="navbarDropdown" style="background-color: black; width: 2em">
            <a class="dropdown-item" href="javascript:changeLang('en')">🇬🇧</a><br />
            <a class="dropdown-item" href="javascript:changeLang('ja')">🇯🇵</a><br />
            <a class="dropdown-item" href="javascript:changeLang('ko')">🇰🇷</a><br />
            <a class="dropdown-item" href="javascript:changeLang('id')">🇮🇩</a><br />
            <!-- <a class="dropdown-item" href="javascript:changeLang('zh')">🇭🇰</a><br /> -->
            <!-- <a class="dropdown-item" href="javascript:changeLang('sg')">🇸🇬</a><br /> -->
            <!-- <a class="dropdown-item" href="javascript:changeLang('in')">🇮🇳</a> -->
          </div>
        </li>
        <li class="buy-tickets"><a href="/asia-2020/cfp/">
          {% assign messages = site.data.i18n.header7 %}{% include translate.html %}
        </a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->
