<!-- ======= Speakers Section ======= -->
<section id="news" style="padding-top: 2em">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>
        {% assign messages = site.data.i18n.news3 %}{% include translate.html %}
      </h2>
      <p>
        <!-- place this in your head tag -->
        <script src='https://js.tito.io/v1' async></script>

        <!-- place this where you want the widget to appear -->
        <tito-widget event="devrel-asia/devrel-asia-2020"></tito-widget>

        <!-- for basic styles include a link to our stylesheet. -->
        <!-- fancy something more adventurous? Copy it and roll your own! -->
        <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
      </p>
      <p>
        {% assign messages = site.data.i18n.news4 %}{% include translate.html %}
      </p>
    </div>
  </div>
</section>
