<!-- ======= Speakers Section ======= -->
<section id="news" style="padding-top: 2em">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>
        {% assign messages = site.data.i18n.news1 %}
        {% include translate.html %}
      </h2>
      <p><a href="https://www.papercall.io/devrel-asia-2020">
        {% assign messages = site.data.i18n.news2 %}
        {% include translate.html %}
      </a></p>
      <p>
        Please follow our social media.
        <strong>#DevRelAsia</strong>
      </p>
    </div>
  </div>
</section>
