<!-- ======= Organizers Section ======= -->
<section id="organizers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>We're organizers!</h2>
    </div>
    <div class="row">
      {% assign organizers = site.data.orgs | where:"type", "group" %}
      {% for organizer in organizers %}
        {% if organizer.images != "" %}
          {% include organizer_list.html organizer=organizer %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      {% assign organizers = site.data.orgs | where:"type", "person" %}
      {% for organizer in organizers %}
        {% if organizer.image != "" and organizer.id != "" %}
          {% include organizer_list.html organizer=organizer %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
