<div class="col-md-3 organizer">
  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
    <a href="./organizers/{{ organizer.id }}/">
      {% if organizer.type == "group" %}
        <img src="./assets/images/organizers/{{ organizer.id }}.png" alt="{{ organizer.name_english }}" class="img-fluid">
      {% else %}
        <img src="./assets/images/organizers/{{ organizer.id }}.jpg" alt="{{ organizer.name_english }}" class="img-fluid">
      {% endif %}
    </a>
    <div class="details">
      <h3>{% include nationality.html %} <a href="./organizers/{{ organizer.id }}/">
        {% assign messages = organizer.name %}
        {% include translate.html %}
      </a></h3>
      <p>
        {% if organizer.title_english != "" %}{% assign messages = organizer.title %}{% include translate.html %}@{% endif %}{% assign messages = organizer.company %}{% include translate.html %}
      </p>
      {% include social.html %}
    </div>
  </div>
</div>
