{% assign ogs = site.data.orgs | where: "id", page.id %}
{% assign organizer = ogs[0] %}
<section id="speakers-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if organizer.type == "group" %}
          <img src="{{ site.baseurl }}/assets/images/organizers/{{ organizer.id }}.png" alt="{{ organizer.name_english }}" class="img-fluid">
        {% else %}
          <img src="{{ site.baseurl }}/assets/images/organizers/{{ organizer.id }}.jpg" alt="{{ organizer.name_english }}" class="img-fluid">
        {% endif %}
      </div>
      <div class="col-md-6">
        <div class="details">
          <h2>{% include nationality.html %} {% assign messages = organizer.name %}{% include translate.html %}</h2>
          <h4>{% if organizer.title_english != "" %}{% assign messages = organizer.title %}{% include translate.html %}@{% endif %}{% assign messages = organizer.company %}{% include translate.html %}</h4>
          {% include social.html %}
          <p class="markdown">
            {% assign messages = organizer.profile %}
            {% include translate.html %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
