<section id="supporters" class="section-with-bg">
  <div class="container">
    <div class="section-header">
      <h2>
        {% assign messages = site.data.i18n.sponsors1 %}
        {% include translate.html %}
      </h2>
      <p>
        {% assign messages = site.data.i18n.sponsors2 %}
        {% include translate.html %}
      </p>
    </div>
    {% assign sponsors = site.data.sponsors | where: "type", "gold" %}
    <div class="row clearfix">
      <div class="col">
        <h3>Gold</h3>
      </div>
    </div>
    <div class="row clearfix">
      {% for sponsor in sponsors %}
        {% if sponsor.id != "" %}
        <div class="col-md-4">
          <a href="{{ sponsor.url }}" target="_blank">
            <div class="row">
              <div class="col">
                <img src="{{ site.baseurl }}/assets/images/sponsors/{{ sponsor.id }}.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <strong>{{ sponsor.name }}</strong>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section><!-- End Sponsors Section -->
