<section id="supporters" class="section-with-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>
        {% assign messages = site.data.i18n.sponsors1 %}
        {% include translate.html %}
      </h2>
      <p>
        {% assign messages = site.data.i18n.sponsors2 %}
        {% include translate.html %}
      </p>
    </div>
    <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
      <!--
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="assets/img/supporters/1.png" class="img-fluid" alt="">
        </div>
      </div>
      -->
    </div>
  </div>
</section><!-- End Sponsors Section -->
