<li class="cd-schedule__group">
  <div class="cd-schedule__top-info header">
    <span>{{ include.name }}</span>
  </div>

  <ul>
    {% for session in include.sessions %}
    {% if session.show == 'true' %}
    {% assign speaker = site.data.sps | find: "id", session.speaker_id %}
    {% assign speaker2 = site.data.sps | find: "id", session.speaker2_id %}
    {% assign speaker3 = site.data.sps | find: "id", session.speaker3_id %}
    {% assign speaker4 = site.data.sps | find: "id", session.speaker4_id %}
    {% assign speaker5 = site.data.sps | find: "id", session.speaker5_id %}
    {% assign speaker6 = site.data.sps | find: "id", session.speaker6_id %}
    {% assign category = site.data.colors | find: "Name", session.category_english %}
      <li class="cd-schedule__event">
        <a data-start="{{ session.start }}" data-end="{{ session.end }}" data-content="event-abs-circuit" data-event="event-{{ category.Id }}" href="#0">
          <em class="cd-schedule__name"><span data-start="{{ session.start }}" data-time="{{session.start}}" class="schedule_time cd-schedule__time">{{ session.start }}</span>{% assign messages = session.title %}{% include translate.html %}
            {% if session.speaker == 'true' %}
            by {% assign messages = speaker.name %}{% include translate.html %} at {% assign messages = speaker.company %}{% include translate.html %}
            {% endif %}
          </em>
          <script type="session" class="session_info">
            {{ session | jsonify }}
          </script>
          <script type="session" class="session_category">
            {{ category | jsonify }}
          </script>
          <script type="session" class="session_speaker">
            {{ speaker | jsonify }}
          </script>
          <script type="session" class="session_speaker2">{{ speaker2 | jsonify }}</script>
          <script type="session" class="session_speaker3">{{ speaker3 | jsonify }}</script>
          <script type="session" class="session_speaker4">{{ speaker4 | jsonify }}</script>
          <script type="session" class="session_speaker5">{{ speaker5 | jsonify }}</script>
          <script type="session" class="session_speaker6">{{ speaker6 | jsonify }}</script>
        </a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</li>
