<a value="-12:00">International Date Line West</a>
<a value="-11:00">Coordinated Universal Time-11</a>
<a value="-10:00">Hawaii</a>
<a value="-09:00">Alaska</a>
<a value="-08:00">Baja California</a>
<a value="-08:00">Pacific Time (US and Canada)</a>
<a value="-07:00">Chihuahua, La Paz, Mazatlan</a>
<a value="-07:00">Arizona</a>
<a value="-07:00">Mountain Time (US and Canada)</a>
<a value="-06:00">Central America</a>
<a value="-06:00">Central Time (US and Canada)</a>
<a value="-06:00">Saskatchewan</a>
<a value="-06:00">Guadalajara, Mexico City, Monterey</a>
<a value="-05:00">Bogota, Lima, Quito</a>
<a value="-05:00">Indiana (East)</a>
<a value="-05:00">Eastern Time (US and Canada)</a>
<a value="-04:30">Caracas</a>
<a value="-04:00">Atlantic Time (Canada)</a>
<a value="-04:00">Asuncion</a>
<a value="-04:00">Georgetown, La Paz, Manaus, San Juan</a>
<a value="-04:00">Cuiaba</a>
<a value="-04:00">Santiago</a>
<a value="-03:30">Newfoundland</a>
<a value="-03:00">Brasilia</a>
<a value="-03:00">Greenland</a>
<a value="-03:00">Cayenne, Fortaleza</a>
<a value="-03:00">Buenos Aires</a>
<a value="-03:00">Montevideo</a>
<a value="-02:00">Coordinated Universal Time-2</a>
<a value="-01:00">Cape Verde</a>
<a value="-01:00">Azores</a>
<a value="+00:00">Casablanca</a>
<a value="+00:00">Monrovia, Reykjavik</a>
<a value="+00:00">Dublin, Edinburgh, Lisbon, London</a>
<a value="+00:00">Coordinated Universal Time</a>
<a value="+01:00">Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</a>
<a value="+01:00">Brussels, Copenhagen, Madrid, Paris</a>
<a value="+01:00">West Central Africa</a>
<a value="+01:00">Belgrade, Bratislava, Budapest, Ljubljana, Prague</a>
<a value="+01:00">Sarajevo, Skopje, Warsaw, Zagreb</a>
<a value="+01:00">Windhoek</a>
<a value="+02:00">Athens, Bucharest, Istanbul</a>
<a value="+02:00">Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</a>
<a value="+02:00">Cairo</a>
<a value="+02:00">Damascus</a>
<a value="+02:00">Amman</a>
<a value="+02:00">Harare, Pretoria</a>
<a value="+02:00">Jerusalem</a>
<a value="+02:00">Beirut</a>
<a value="+03:00">Baghdad</a>
<a value="+03:00">Minsk</a>
<a value="+03:00">Kuwait, Riyadh</a>
<a value="+03:00">Nairobi</a>
<a value="+03:30">Tehran</a>
<a value="+04:00">Moscow, St. Petersburg, Volgograd</a>
<a value="+04:00">Tbilisi</a>
<a value="+04:00">Yerevan</a>
<a value="+04:00">Abu Dhabi, Muscat</a>
<a value="+04:00">Baku</a>
<a value="+04:00">Port Louis</a>
<a value="+04:30">Kabul</a>
<a value="+05:00">Tashkent</a>
<a value="+05:00">Islamabad, Karachi</a>
<a value="+05:30">Sri Jayewardenepura Kotte</a>
<a value="+05:30">Chennai, Kolkata, Mumbai, New Delhi</a>
<a value="+05:45">Kathmandu</a>
<a value="+06:00">Astana</a>
<a value="+06:00">Dhaka</a>
<a value="+06:00">Yekaterinburg</a>
<a value="+06:30">Yangon</a>
<a value="+07:00">Bangkok, Hanoi, Jakarta</a>
<a value="+07:00">Novosibirsk</a>
<a value="+08:00">Krasnoyarsk</a>
<a value="+08:00">Ulaanbaatar</a>
<a value="+08:00">Beijing, Chongqing, Hong Kong, Urumqi</a>
<a value="+08:00">Perth</a>
<a value="+08:00">Kuala Lumpur, Singapore</a>
<a value="+08:00">Taipei</a>
<a value="+09:00">Irkutsk</a>
<a value="+09:00">Seoul</a>
<a value="+09:00">Osaka, Sapporo, Tokyo</a>
<a value="+09:30">Darwin</a>
<a value="+09:30">Adelaide</a>
<a value="+10:00">Hobart</a>
<a value="+10:00">Yakutsk</a>
<a value="+10:00">Brisbane</a>
<a value="+10:00">Guam, Port Moresby</a>
<a value="+10:00">Canberra, Melbourne, Sydney</a>
<a value="+11:00">Vladivostok</a>
<a value="+11:00">Solomon Islands, New Caledonia</a>
<a value="+12:00">Coordinated Universal Time+12</a>
<a value="+12:00">Fiji, Marshall Islands</a>
<a value="+12:00">Magadan</a>
<a value="+12:00">Auckland, Wellington</a>
<a value="+13:00">Nuku'alofa</a>
<a value="+13:00">Samoa</a>            
