:root {
  --cd-color-event-1: hsl(56, 100%, 16%);
  --cd-color-event-1-h: 56;
  --cd-color-event-1-s: 100%;
  --cd-color-event-1-l: 16%;
  --cd-color-event-2: hsl(356, 86%, 62%);
  --cd-color-event-2-h: 356;
  --cd-color-event-2-s: 86%;
  --cd-color-event-2-l: 62%;
  --cd-color-event-3: hsl(27, 83%, 52%);
  --cd-color-event-3-h: 27;
  --cd-color-event-3-s: 83%;
  --cd-color-event-3-l: 52%;
  --cd-color-event-4: hsl(258, 96%, 68%);
  --cd-color-event-4-h: 258;
  --cd-color-event-4-s: 96%;
  --cd-color-event-4-l: 68%;
  --cd-color-event-5: hsl(172, 89%, 33%);
  --cd-color-event-5-h: 172;
  --cd-color-event-5-s: 89%;
  --cd-color-event-5-l: 33%;
  --cd-color-event-6: hsl(88, 50%, 48%);
  --cd-color-event-6-h: 88;
  --cd-color-event-6-s: 50%;
  --cd-color-event-6-l: 48%;
  --cd-color-event-7: hsl(203, 69%, 60%);
  --cd-color-event-7-h: 203;
  --cd-color-event-7-s: 69%;
  --cd-color-event-7-l: 60%;
  --cd-color-event-8: hsl(51, 76%, 76%);
  --cd-color-event-8-h: 51;
  --cd-color-event-8-s: 76%;
  --cd-color-event-8-l: 76%;
  --cd-color-event-9: hsl(32, 86%, 58%);
  --cd-color-event-9-h: 32;
  --cd-color-event-9-s: 86%;
  --cd-color-event-9-l: 58%;
  --cd-color-event-10: hsl(45, 90%, 58%);
  --cd-color-event-10-h: 45;
  --cd-color-event-10-s: 90%;
  --cd-color-event-10-l: 58%;
}
  .cd-schedule__event [data-event="event-1"], .cd-schedule-modal[data-event="event-1"] .cd-schedule-modal__header-bg {
    background: hsl(56, 100%, 16%);
    background: var(--cd-color-event-1)
  }

  .cd-schedule__event [data-event="event-2"], .cd-schedule-modal[data-event="event-2"] .cd-schedule-modal__header-bg {
    background: hsl(356, 86%, 62%);
    background: var(--cd-color-event-2)
  }

  .cd-schedule__event [data-event="event-3"], .cd-schedule-modal[data-event="event-3"] .cd-schedule-modal__header-bg {
    background: hsl(27, 83%, 52%);
    background: var(--cd-color-event-3)
  }

  .cd-schedule__event [data-event="event-4"], .cd-schedule-modal[data-event="event-4"] .cd-schedule-modal__header-bg {
    background: hsl(258, 96%, 68%);
    background: var(--cd-color-event-4)
  }

  .cd-schedule__event [data-event="event-5"], .cd-schedule-modal[data-event="event-5"] .cd-schedule-modal__header-bg {
    background: hsl(172, 89%, 33%);
    background: var(--cd-color-event-5)
  }

  .cd-schedule__event [data-event="event-6"], .cd-schedule-modal[data-event="event-6"] .cd-schedule-modal__header-bg {
    background: hsl(88, 50%, 48%);
    background: var(--cd-color-event-6)
  }

  .cd-schedule__event [data-event="event-7"], .cd-schedule-modal[data-event="event-7"] .cd-schedule-modal__header-bg {
    background: hsl(203, 69%, 60%);
    background: var(--cd-color-event-7)
  }

  .cd-schedule__event [data-event="event-8"], .cd-schedule-modal[data-event="event-8"] .cd-schedule-modal__header-bg {
    background: hsl(51, 76%, 76%);
    background: var(--cd-color-event-8)
  }

  .cd-schedule__event [data-event="event-9"], .cd-schedule-modal[data-event="event-9"] .cd-schedule-modal__header-bg {
    background: hsl(32, 86%, 58%);
    background: var(--cd-color-event-9)
  }

  .cd-schedule__event [data-event="event-10"], .cd-schedule-modal[data-event="event-10"] .cd-schedule-modal__header-bg {
    background: hsl(45, 90%, 58%);
    background: var(--cd-color-event-10)
  }
